body {
    font-family: Arial, sans-serif;
    background-color: #656567; /* Cor de fundo */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    width: 90%; /* Largura responsiva */
    max-width: 400px; /* Largura máxima */
    text-align: center;
}

h1 {
    font-size: 26px;
    color: #333;
}

.nota {
    font-size: 14px;
    color: #777;
    margin-bottom: 15px; /* Espaçamento abaixo da nota */
    display: block; /* Garantindo que o texto apareça corretamente */
}

label {
    margin-top: 10px;
    display: block;
    font-weight: bold;
    margin-bottom: 5px; /* Reduzido espaço abaixo do rótulo */
}

label[for="comprimento"] {
    margin-bottom: 8px; /* Aumentado o espaço abaixo do rótulo do comprimento */
}

.produto {
    width: 100%; /* Ajusta a largura da imagem para ocupar 100% do container */
    height: auto; /* Mantém a proporção da imagem */
    margin: 5px 0; /* Reduzido o espaço acima e abaixo da imagem */
    border-radius: 5px; /* Arredonda as bordas da imagem */
}

input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding-left: 0;
    padding-right: 0;
}

button {
    margin-top: 20px;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #218838;
}

#resultado {
    margin-top: 20px;
    font-size: 20px;
    color: #333;
}

.observacao {
    margin-top: 15px;
    font-size: 16px; /* Aumentado o tamanho da fonte */
    color: #555;
}

.observacao strong {
    color: red; /* Palavra "Observação" em vermelho */
    font-size: 18px; /* Aumentado o tamanho da fonte */
    text-decoration: underline; /* Grifado */
}

/* Estilos para telas menores */
@media (max-width: 480px) {
    h1 {
        font-size: 24px; /* Tamanho do título menor */
    }
    
    button {
        font-size: 14px; /* Tamanho do botão menor */
    }
    
    .nota, .observacao {
        font-size: 10px; /* Tamanhos menores para notas */
    }
}
